*{
  font-family: sans-serif;
}
body{
  margin: 0;
  padding: 0;
}
.header{
  position: fixed;
  width: 100%;
  height: 60px;
}
.header-left{
  width: 40%;
  display: inline-block;
  margin: 2% 4%;
}
.foto{
  display: inline-block;
  width: 15%;
  height: 35px;
  background-image: url("../img/laboratoria1.png");
  background-repeat: no-repeat;
  margin: 0 3% 0 0;

}
.home{
  font-size: 200%;
  color: rgba(0,0,0,.44);
  margin: 0 3% 0 0;
}
.enlace{
  margin: 0 3% 0 0;
  font-size: 150%;
  color: rgba(0,0,0,.44);
}

.header-right{
  width: 40%;
  display: inline-block;
  position: absolute;
  right: -20%;
  margin: 2% 0;
}
.logo{
  width: 40px;
  height: 40px;
  background-image: url("../img/laboratoriaLogo.png");
  background-repeat: no-repeat;
  margin-left: 4%;
}
.foto-autor{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: 95%;
  background-image: url("../img/autor.jpeg");
  background-repeat: no-repeat;
  margin-left: 4%;

}
.search{
  font-size: 150%;
  color: rgba(0,0,0,.44);
  position: relative;
  bottom: 10px;
}
.edit{
  color: rgba(0,0,0,.44);
  position: relative;
  bottom: 10px;
  margin-right: 4%;
}
.container{
  position: relative;
  top: 60px;
  padding: 0 10%;
}
.img-autor{
  width: 60px;
  height: 60px;
  background-size: 100%;
}
.autor-info{
  display: inline-block;
  padding: 2%;
}
.cv, .date{
  line-height: 20%;
  color: rgba(0,0,0,.44);
}
.contenido{
  position: relative;
  top: -40px;
  padding: 0 18% 0 8%;
}
.titulo{
  font-size: 45px;
}
.informacion{
  font-family: "Times New Roman";
  font-size: 25px;
  line-height: 150%;
}
.cursiva{
  font-style: italic;
}
.footer{
  width: 45%;
  height: 40px;
  position: fixed;
  bottom: 0;
  padding: 0 18%;
}
.footLeft{
  display: inline-block;
  position: relative;
  left: 0;
  bottom: 0;
}
.share{
  color: green;
  font-size: 30px;
  margin-right: 20px;
}
.comment{
  font-size: 25px;
  color: rgba(0,0,0,.44);
}
.footRight{
  width: 20%;
  display: inline-block;
  position: absolute;
  right: 0;
}
.tw{
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}
.face{
  font-size: 35px;
  color: white;
  text-shadow: 1px 1px black, 1px 1px black, 0 2px black;
  margin: 0 15px;
}
.favorite{
  font-size: 25px;
}
